body {
  margin:0;
  padding: 0;
}

p {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.container {
  display: grid;
  grid-gap: 15px;
  height: 100vh;
}

.container > * {
  background-color: slateblue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  background-color: rgb(235, 260, 254);
  background-image: url(../images/bg-hero-desktop.svg);
  background-size: cover;
  display: grid;
  grid-gap: 30px 50px;
  grid-template-areas:
    "header__description header__image";
  grid-template-columns: 50% 50%;
}

.header__description {
  grid-area: header__description;
  width: 80%;
  margin: 0 auto;
}

.header__description h1 {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.header__image {
  grid-area: header__image;
  width: 80%;
  margin: 0 auto;
}

.header__image img {
  width: 80%;
}

/** Estilos para los botones **/
.btn {
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: white;
  padding: 1rem;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Open sans', sans-serif;
}

.btn--cyan {
  background-color: rgb(252, 75, 181);
  color: white;
}